body {
  font-family: sans-serif;
  background-color: #b3b3b3;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #212121;
  text-align: center;
  padding: 20px;

}

nav {
  background-color: #333;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: #ccc;
  font-weight: bold;
  font-size: 16px;
}

form {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

form input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

form input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #ccc;
  font-weight: bold;
  font-size: 16px;
}

a:hover {
  color: #ffcc00;
}

header a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 30px;
  position: relative; /* Añade esta línea */
  z-index: 1; 
}

header a:hover {
  color: #ffcc00;
}

input[type="checkbox"] {
  display: none;
}

label {
  cursor: pointer;
  font-size: 18px;
  display: none;
}

label:hover input[type="checkbox"]:checked ~ ul {
  display: block; 
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
  background-color: #f8f8f8; /* Cambia el color de fondo de la tabla */
  border-radius: 15px; /* Redondea las esquinas */
  overflow: hidden; /* Asegura que el borde se aplique correctamente */
  margin-bottom: 30px;
  outline: 5px solid white;
}

th, td {
  border: 1px solid #ddd; /* Cambia el color del borde de las celdas */
  padding: 8px; /* Añade un padding a las celdas */
  text-align: left; /* Alinea el texto a la izquierda */
}

th {
  background-color: #ffcc00; /* Cambia el color de fondo de las celdas del encabezado */
  color: rgb(0, 0, 0); /* Cambia el color del texto de las celdas del encabezado */
}

tr:nth-child(even) {
  background-color: #f2f2f2; /* Añade un color de fondo a las filas pares */
}

p {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
  margin-top: 15px;
}

.titols {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
  margin-bottom: 15px;

}

h1 {
  margin-bottom: 0px;
  text-align: center;
  margin-bottom: 2%;
}
h2  {
  text-align: center;
  margin-bottom: 2%;
}
h3  {
  text-align: center;
  margin-bottom: 2%;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 18px;
  }

  header {
    font-size: 24px;
  }

  nav {
    font-size: 18px;
  }

  a {
    font-size: 18px;
  }

  label {
    display: inline-block;
  }

  ul {
    display: none;
    position: absolute;
    background-color: #333;
    width: 100%;
  }

  ul li {
    display: block;
    margin-right: 0;
  }
}